.menu {
    width: 200px;
    display: grid;
    grid-template-rows: 0.15fr 1fr 0.15fr;
}

.contentArea {
    display: grid;
    grid-row: 2 / 3;
    grid-gap: 1em;
}

.toolbarArea {
    grid-row: 1 / 2;
}

.toolbarArea > a {
    color: white;
    right: 2%;
    position: absolute;
}

.menuItem  {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-template-rows: 60px 20px;
}

.menuItem > button {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.menuItem > a {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.menuItem > a > img {
    width: 100%;
    image-rendering: pixelated;
}

.menuItem > label {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
    
}




