.menu {
    background-color: rgb(30, 113, 181);
    background-color: rgba(30, 113, 181, 0.9);
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    border-radius: 0.5rem;
    width: 450px;
    height: 300px;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

.contentArea {
    display: grid;
    grid-row: 2 / 3;
    grid-auto-flow: column;
}

.toolbarArea {
    grid-row: 1 / 3;
}

.toolbarArea > a {
    color: white;
    right: 2%;
    position: absolute;
}

.menuItem  {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-template-rows: 60px 20px;
}

.menuItem > button {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.menuItem > label {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
    color: white;
    font-family: consolas;
    text-transform: uppercase;
}
