<div class="menu basic-modal">
    <app-title-modal [title]="this"></app-title-modal>
    <div class="contentArea">
        <div class="menuItem">
            <a [routerLink]="['/', { outlets: {popup: ['info'] } } ]">
                <img src="assets/images/about.gif" alt="">
            </a>
            <label>Profile</label>
        </div>
        <div class="menuItem">
            <a [routerLink]="['/', { outlets: {popup: ['extrainfo'] } } ]">
                <img src="assets/images/experience.gif" alt="">
            </a>
            <label>Other sites</label>
        </div>
        <div class="menuItem">
            <a download href="assets/MateoDelgadoCV.pdf">
                <img src="assets/images/cv.gif" alt="">
            </a>
            <label>CV</label>
        </div>
    </div>
</div>



<iframe id="pdfDownload" style="display:none;"></iframe>