<div class="menu">
    <div class="toolbarArea">
        <a routerLink="/">x</a>
    </div>
    <div class="contentArea">
        <div class="menuItem">
            <button></button>
            <label>Info</label>
        </div>
        <div class="menuItem">
            <button></button>
            <label>Experience</label>
        </div>
        <div class="menuItem">
            <a [routerLink]="['/', { outlets: {popup: ['info'] } } ]"></a>
            <label>CV</label>
        </div>
    </div>
</div>