<div class="menu basic-modal">
    <div class="toolbarArea">
        <a routerLink="../">x</a>
    </div>
    <div class="contentArea">
        <div class="menuItem">
            <a [routerLink]="['/', { outlets: {popup: ['info'] } } ]">
                <img src="assets/images/about.gif" alt="">
            </a>
            <label>Info</label>
        </div>
        <div class="menuItem">
                <a [routerLink]="['/', { outlets: {popup: ['experience'] } } ]">
                    <img src="assets/images/experience.gif" alt="">
                </a>
            <label>Experience</label>
        </div>
        <div class="menuItem">
                <a download href="assets/MateoDelgadoCV.pdf">
                    <img src="assets/images/cv.gif" alt="">
                </a>
            <label>CV</label>
        </div>
    </div>
</div>



<iframe id="pdfDownload" style="display:none;"></iframe>