<div id="device" class="galvice">
  <div class="screen">
    <div class="textContainer">{{this.messageService.actualMessage}}</div>

    <img id="at" [src]="((device$ | async)?.streamState | async)?.imgUrl" alt="" (click)="pet()">
    <img *ngIf="this.stateService.state == this.stateService.eatingState" id="meat" src="assets/images/meat.gif">
  </div>
  <div class="btnVice">

    <a id="menu" routerLink="/menu"><div></div></a>
    <a id="food" (click)="eat()"><div></div></a>
  </div>
</div>
<div class="center-screen">
  <router-outlet></router-outlet>
</div>