.galvice {  
    width: 20em;
    background-color: #206aaf;
    display: grid;
    border-radius: 5%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-template-areas:
    " . . . . . . . . . . . . "
    " . . . . . . . . . . . . "
    " . . s s s s s s s s . . "
    " . . s s s s s s s s . . "
    " . . s s s s s s s s . . "
    " . . s s s s s s s s . . "
    " . . s s s s s s s s . . "
    " . . s s s s s s s s . . "
    " . . s s s s s s s s . . "
    " . . s s s s s s s s . . "
    " . . . . . . . . . . . . "
    " . . . b b b b b b . . . "
    " . . . . . . . . . . . . "
    " . . . . . . . . . . . . "
    ;

    
}

.screen {
    background-color: #ceda93;
    font-family: consolas;
    grid-area: s;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr; 
    position: relative;
    border: 2px solid #6f7a37;
}

.screen:hover {
    cursor: url(assets/images/hand-pointer.png), pointer;
}


.btnVice {
    grid-area: b;
    display: grid;
    row-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.btnVice > a {
    background-color: white;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 50% 50% 50% 50%;
}

#menu {
    grid-column: 1 / 2;
}

#food {
    grid-column: 6 / 7;
}


#at {
    image-rendering: pixelated;
    height: 96px;
    grid-area: 2 / 2 / 3 / 3;
    width: 96px;
}

#meat {
    image-rendering: pixelated;
    height: 96px;
    grid-area: 2 / 2 / 3 / 3;
}

#at:hover {
    cursor: url(assets/images/hand-extended.png), pointer;
}


.textContainer {
    grid-area: 1 / 4 / 2 / 1;
    text-transform: uppercase;
    text-align: center;
}