<div class="galcontainer">
  <div class="galvice">
    <div class="screen">
      <div class="textContainer">{{actualMessage}}</div>

      <img src="assets/images/at.gif" alt="">
    </div>
    <div class="btnVice">

      <button class="button" (click)="1"></button>


      <button class="button" (click)="1"></button>


      <a routerLink="/menu"></a>

    </div>
  </div>
  <div class="absoluteContainer">
    <router-outlet></router-outlet>
  </div>

  <router-outlet name="popup"></router-outlet>

</div>