<div class="info-grid center-screen">
  <div id="contact" class="basic-modal">
    <app-title-modal [title]="this"> </app-title-modal>
    <div class="modal-info">
        {{me.number | phone}} <br>
        {{me.email}} <br>
      <div *ngFor="let socialSite of socialMedia">
        <img class="small-icon"[src]=socialSite.icon> 
        <a [href]="socialSite.user" target="_blank">{{socialSite.platform}}</a>
      </div>
    </div>
    <app-contact-tab (confirmSave)="onSave()"></app-contact-tab>
  </div>
</div>