.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.contactPair {
    display: grid;
    grid-template-columns: 1fr;
}

#message-pair {
    grid-column: 1 / 3;
}

button {
    position: relative;
    left: 85%;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 20em;
}