button {
    position: relative;
    left: 85%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    color: gainsboro;
    padding-bottom: 1em;
}

button:disabled {
    color:  rgba(0, 0, 0, 0);
}

textarea {
    width: 100%;
    height: 3em;
    background-color: rgba(0, 0, 0, 0);
    color: gainsboro;
    border-color: gainsboro;
    border-style: double;
}