.resizable-grid {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: 18em 1fr;
}

.containerInfo {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.expanded-tab-grid {
    width: 32em;
}


.modalInfo {
    padding: 1em 1em 1em 0.5em;
    border-radius: 0.5em 0 0 0.5em;
}

.tab {
    text-orientation: sideways;
    writing-mode: vertical-rl;
    border-left: 0px;
    
    font-family: consolas;
    display: grid;
    
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 2;
}

.tab > div {
    border-radius: 0px 20px 0px 0px;
    padding-bottom: 5px;
    text-align: end;
}

app-info-tab {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    z-index: 1;
    
}
