<div class="center-screen">
  <div class="expanded-tab-grid">
    <div class="basic-modal tab-content">
      <app-title-modal [title]="this"> </app-title-modal>
      <app-skills-tab *ngIf="tabToExpand==tab.SKILLS"></app-skills-tab>
      <app-about-tab *ngIf="tabToExpand==tab.ABOUT"></app-about-tab>
      <app-experience *ngIf="tabToExpand==tab.EXPERIENCE"></app-experience>
      <app-contact-tab *ngIf="tabToExpand==tab.CONTACT"></app-contact-tab>
      
    </div>
    <div class="tab">
      <div class="basic-modal" [ngClass]="{'inactive-tab' : tabToExpand!=tab.ABOUT}" (click)="expand(tab.ABOUT)">ABOUT</div>
      <div class="basic-modal" [ngClass]="{'inactive-tab' : tabToExpand!=tab.SKILLS}"(click)="expand(tab.SKILLS)">SKILLS</div>
      <div class="basic-modal" [ngClass]="{'inactive-tab' : tabToExpand!=tab.EXPERIENCE}" (click)="expand(tab.EXPERIENCE)">EXPERIENCE</div>
    </div>
  </div>
</div>